{% extends "layout.html" %}
{% block body %}
<h1>
  <center>
    <Strong>
      BIENVENIDO AL PORTAL DEL ARTICULO
      </ strong>
      <a class="btn btn-danger btn-block" href="/">
        Principal
      </a>
  </center>

</h1>
<br>
<div class="row">
  <div class="col-md-5">
    <!--
            Mensaje Exito y Error
        -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card card-body">

      <form action="{{url_for('addArticulo')}}" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="Nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Precio" placeholder="Precio">
        </div>
        <button class="btn btn-primary btn-block">
          Guardar Articulos
        </button>
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
      <thead>
        <tr>
          <td>Identificacion</td>
          <td>Nombre</td>
          <td>Precio</td>

        </tr>
      </thead>
      <tbody>

        {% for articulo in articulos %}
        <tr>
          <td>{{articulo["id"]}}</td>
          <td>{{articulo["Nombre"]}}</td>
          <td>{{articulo["Precio"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

</div>

{% endblock %}
