{% extends "layout.html" %}
{% block body %}
<h1>
  <center>
    <Strong> 
      OPCIONES DEL SISTEMA
    </ strong>  
  </center>
  
</h1>
<br> 
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Clientes
        </h5>
        <p class="card-text">
          Portal de Cliente
        </p>
        <a href="/Cliente" class="btn btn-primary">
          Ir a Cliente
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Pedido
        </h5>
        <p class="card-text">
          Portal de Pedido
        </p>
        <a href="/Pedido" class="btn btn-primary">
          Ir a Pedido
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Articulo
          </h5>
          <p class="card-text">
            Portal de Articulo
          </p>
          <a href="/Articulo" class="btn btn-primary">
            Ir a Articulo
          </a>
        </div>
      </div>
    </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Estado de los Pedidos
            </h5>
            <p class="card-text">
              Portal de Estado sobre Pedido
            </p>
            <a href="/Historico/0" class="btn btn-primary">
              Ir a Estado de Pedidos
            </a>
          </div>
        </div>
 
    {% endblock %}