{% extends "layout.html" %}
{% block body %}
<h1>
  
  <center>
    <Strong> 
      BIENVENIDO AL PORTAL DEL CLIENTE
    </ strong> 
    <a class="btn btn-danger btn-block" href="/">
      Principal 
    </a> 
  </center>
  
</h1>
<br> 
<div class="row">
    <div class="col-md-5">
         <!--
            Mensaje Exito y Error
        -->
        {% with messages = get_flashed_messages()  %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
          
            <form action="{{url_for('addCliente')}}" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="Identificacion" placeholder="Identificacion">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="Nombre" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="Direccion" placeholder="Direccion">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="Ciudad" placeholder="Ciudad">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="Telefono" placeholder="Telefono">
              </div>
              <button class="btn btn-primary btn-block">
                Guardar 
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-7">
            <table class="table table-striped table-hover table-bordered table-sm bg-white">
              <thead>
                <tr>
                  <td>N°</td>
                  <td>Identificacion</td>
                  <td>Nombre</td>
                  <td>Direccion</td>
                  <td>Ciudad</td>
                  <td>Telefono</td>
                </tr>
              </thead>
              <tbody>
              
                {% for cliente in clientes %}
                <tr>
                  <td>{{cliente["Id"]}}</td>
                  <td>{{cliente["Identificacion"]}}</td>
                  <td>{{cliente["Nombre"]}}</td>
                  <td>{{cliente["Direccion"]}}</td>
                  <td>{{cliente["Ciudad"]}}</td>
                  <td>{{cliente["Telefono"]}}</td>                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    
    </div>
    
</div>

{% endblock %}