{% extends "layout.html" %}
{% block body %}
<h1>
  <center>
    <Strong>
      PORTAL ESTADO DEL PEDIDO
      </ strong>
      <a class="btn btn-danger btn-block" href="/">
        Principal
      </a>
  </center>

</h1>
<br>
<div class="row">
  {% for ep in EstadoPedidos %}

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          N° del Pedido {{ep["Id_Pedido"] }} Fecha: {{ep["FHPedido"]}}
        </h5>
        {% if ep["Estado"] == "EN PREPARACIÓN" %}
        <p class="card-text" style="color:#FF0000">
          {{ep.Estado}}
        </p>
        {%endif%}
        {% if ep["Estado"] == "EN REPARTO" %}
        <p class="card-text" style="color: blue;">
          {{ep.Estado}}
        </p>
        {%endif%}
        {% if ep["Estado"] == "ENTREGADO" %}
        <p class="card-text" style="color:green">
          {{ep.Estado}}
        </p>
        {%endif%}
      </div>
    </div>
    <br>
  </div>

  {% endfor %}

</div>



{% endblock %}