{% extends "layout.html" %}
{% block body %}

<h1>

  <center>
    <Strong>
      BIENVENIDO AL PORTAL DEL CLIENTE
      </ strong>
      <a class="btn btn-danger btn-block" href="/">
        Principal
      </a>
  </center>

</h1>
<br>
<div class="row">
  <div class="col-md-5">
    <!--
            Mensaje Exito y Error
        -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="card card-body">
      <form action="/addPedido" method="POST">

        <div class="form-group">
          <select class="form-control" name="Id_Cliente" aria-label="Default select example">
            <option selected>Favor seleccionar el Cliente</option>
            {% for cliente in clientes %}
            <option value="{{cliente['Id']}}">{{cliente["Identificacion"]}} - {{cliente["Nombre"]}}</option>
            {% endfor %}
          </select>
        </div>
        <br />
        <div class="form-group">
          <select class="form-control" name="Id_Articulo" aria-label="Default select example">
            <option selected>Favor seleccionar el Articulo</option>
            {% for articulo in articulos %}
            <option value="{{articulo['id']}}">{{articulo["id"]}} - {{articulo["Nombre"]}}</option>

            {% endfor %}

          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Cantidad" placeholder="Cantidad">
        </div>

        <br />
        <button class="btn btn-primary btn-block">
          Guardar
        </button>
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
      <thead>
        <tr>
          <td>N°</td>
          <td>Ciente</td>
          <td>Fecha Pedido</td>
          <td>Articulo</td>
          <td>Cantidad</td>
          <td>Valor Total</td>
          <td>Estado</td>
          <td>Cambio de Estado</td>
        </tr>
      </thead>
      <tbody>

        {% for pedido in pedidos %}
        <tr>

          <td>{{pedido["Id"]}}</td>
          {% for cliente in clientes %}
          {% if pedido["Id_Cliente"] == cliente["Id"] %}
          <td>
            {{cliente["Nombre"]}}
          </td>
          {% endif %}
          {% endfor %}
          <td>{{pedido["FechaHoraP"]}}</td>

          {% for articulo in articulos %}
          {% if pedido["Id_Articulos"] == articulo["id"] %}
          <td>
            {{articulo["Nombre"]}}
          </td>
          {% endif %}
          {% endfor %}
          <td>{{pedido["Cantidad"]}}</td>
          <td>
            {% for articulo in articulos %}
            {% if pedido["Id_Articulos"] == articulo["id"] %}

            {{articulo["Precio"] * pedido["Cantidad"]}}

            {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for nep in neps %}
            {% if pedido.Id == nep %}
            {% if neps[nep] == "" %}
            <p>{{pedido.Estado}}</p>
            {% else %}
            <p>{{neps[nep]}}</p>
            <a href="/Historico/{{pedido.Id}}"> Ver Historico</a>
            {% endif %}

            {% endif %}
            {% endfor %}


          </td>
          <td>
            {% for nep in neps %}
            {% if pedido.Id == nep %}
            {% if neps[nep] =="ENTREGADO" %}
            <p>su estado es Entregado</p>
            {% else %}
            <a href="/cambioE/{{pedido.Id}}" class="btn btn-primary btn-primary">Cambio de Estado</a>
            {% endif %}
            {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

</div>

{% for resultado in resultados %}
<td>
  {{resultado.concepto.Nombre}}
</td>
{% endfor %}
{% endblock %}